/* ===== base.css ===== */
body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.btn {
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.bg-dark {
  background-color: #111 !important;
}
