@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --yellow :#ffbb30;
    --black :#242424;
    --grey :#818181;
    --white :#ffffff;
}
*{

     margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
   
    font-family: 'Oswald', sans-serif;
    background-color: #f4f4f4;
    height: 100%;
    background-color: var(--yellow);
    font-family: 'Oswald', sans-serif;
}

img{
    max-width: 150px;
    border: 1px solid var(--black);
    border-radius: 50%;
    text-align: center;
    background-color: var(--black);
    margin: 30px auto;
    display: block;
    

}

.banner{
    background-color: var(--white);
    padding: 30px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.text-container{
    width: 70%;
    display: block;
}

h1{
    font-size: 2.5rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 20px;
}
p{
    color: var(--grey);
    text-align: right;
    font-size: 1.2rem;
    font-weight: 200;
}